<!DOCTYPE html>
<html>
<head>
    <title>Example Term Page</title>
    <!--<script src="lib/1-handlebars.js" type="text/javascript"></script>
    <script src="lib/2-jquery.js" type="text/javascript"></script>
    <script src='lib/3-ember.js' type="text/javascript"></script>
    <script src="lib/4-ember-data.js" type="text/javascript"></script>
    <script src="lib/5-translate.js" type="text/javascript"></script>
    <script src="lang/en.js" type="text/javascript"></script>
    <script src="termview.js" type="text/javascript"></script>-->
    <script src="termview.lib.js"></script>
    <script src="termview.lang.js"></script>
    <script src="termview.min.js"></script>
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 0px;
        }
        h1{
            font-size: large;
            background-color: #fafdff;
            margin: 0;
            padding: 0 0 5px 5px;
        }
        h2 {
            font-size: medium;
            margin: 0 0 0 0;
            padding: 0 0 0 10px;

            background: #b7daff; /* Old browsers */
            background: -moz-linear-gradient(top,  #b7daff 1%, #b0d1f2 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b7daff), color-stop(100%,#b0d1f2)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #b7daff 1%,#b0d1f2 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #b7daff 1%,#b0d1f2 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #b7daff 1%,#b0d1f2 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #b7daff 1%,#b0d1f2 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7daff', endColorstr='#b0d1f2',GradientType=0 ); /* IE6-9 */

        }
        .entry {
            background-color: #f2f9ff;
            padding: 5px 15px;
            border-bottom: #e6f5ff thin solid;
        }
    </style>
    <script type="text/x-handlebars" data-template-name="_entry">
        <div class='entry'>{{text}}</div>
    </script>
</head>
<body>
<script type="text/x-handlebars" data-template-name="termview">
<h1>{{text}}</h1>
    {{#each headings}}
        <h2>{{title}}</h2>
        {{#each entries}}
            {{partial entry}}
        {{/each}}
    {{/each}}
</script>
</body>
</html>